{% extends 'base.html'%}
{% load bootstrap5 %}
{% load static %}
{% load cloudinary %}

{%block content%}
<div class="card">
    <div class="column_one">
        <div class="text">
            <h3>{{user.username}} </h3>
            <div class="line"></div>
            <p>{{user.bio}}
            </p>
            <i class="fas fa-home fa-lg"></i>
            <i class="fas fa-envelope fa-lg"></i>
            <i class="fas fa-phone fa-lg"></i>
        </div>
        <div class="title">
        <P>{{ user.bio }}</p>
        </div>
    </div>
    <div class="column_two">
        <img src="{{ user.profile.image.url }}"/>
    </div>
</div>

<form method="POST" enctype="multipart/form-data">
    <h2 class="font-weight-bold mt-3" style="text-decoration: solid;color:white;">Profile Edit</h2>
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-sm btn-outline-blue">Update</button>
</form>
{% endblock %}